:root {
  line-height: 1.8;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Google Sans';
  text-shadow: 10px 10px 10px black;
  --header-height: 180px;
}

html, body {
  overflow-x: hidden;
}

html {
  scroll-padding-top: var(--header-height);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(#16161a, #242629, #16161a);
}

html {
  scroll-padding-top: 120px;
}

.active {
  text-decoration: underline;
}

h1,
h2 {
  font-weight: 500;
  color: var(--text-h);
  color: #fffffe;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 1.4em;
  margin: 0;
  color: #94a1b2;
}

a {
  color: #94a1b2;
  text-decoration: inherit;
  display: inline-block;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.1);
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
  flex: 1;
}

button {
    padding: 20px 30px;
    border: none;
    font-size: 16px;
    background-color: #7f5af0;
    cursor: pointer;
    border-radius: 5px;
}

#app {
  width: 100%;
  margin: 0;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#home {
  margin: 0;
  min-height: 100vh;
  background: transparent;
  padding-top: calc(var(--header-height) + 50px);
  box-sizing: border-box;
}

#about {
  margin: 0;
  min-height: 100vh; 
  background: transparent;
  padding: 50px;
  box-sizing: border-box;
}

#project {
  margin: 0;
  min-height: 80vh;
  background: transparent;
  padding: 50px;
  box-sizing: border-box;
}

#contact {
  margin: 0;
  min-height: 75vh;
  background: transparent;
  padding: 30px 50px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
:root {
  --header-height: 140px;
}

  #about,
  #project,
  #contact {
    padding: 40px 20px 40px;
  }

  #home {
    padding-top: 180px;
  }

  html {
    scroll-padding-top: 80px;
  }

  p {
    font-size: 1.1em;
  }

  h1 {
    font-size: 2em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  :root {
    --header-height: 120px;
  }
}